anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel==2.11.0
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer==2.1.1
comm
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flit_core
idna
importlib-metadata==6.0.0
ipykernel
ipython
ipython-genutils
ipywidgets==8.0.4
jedi
Jinja2
json5==0.9.11
jsonschema==4.17.3
jupyter-server
jupyter_client==7.4.1
jupyter_core
jupyterlab-pygments
jupyterlab-widgets==3.0.5
jupyterlab_server==2.18.0
lxml
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
packaging
pandocfilters
parso
pexpect
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyrsistent
python-dateutil
pytz==2022.7
pyzmq
requests==2.28.1
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tornado
traitlets
typing_extensions
urllib3==1.26.13
voila==0.4.0
wcwidth
webencodings==0.5.1
websocket-client
websockets==10.4
widgetsnbextension==4.0.5
zipp==3.11.0
